nav.navbar.navbar-default.navbar-inverse
	.container-fluid
		.navbar-header
			a.navbar-brand.disabled(href='#/sivan')
				img(alt='SiVaN', src='/img/sivan.png')
		.collapse.navbar-collapse.navbar-left
		ul.nav.navbar-nav.navbar-right(ng-controller='SvnStatusCtrl')
			li 
				label.label.label-inverse(ng-class='{true:"label-warning"}[serverRevision != revision]') Revision: {{revision}} 
					span(ng-show='serverRevision != revision') / {{serverRevision}}
				button.navbar-btn.btn.btn-xs.btn-primary(ng-show='serverRevision != revision', ng-click='update()', ng-disabled='updating') update
				label.label.label-inverse Server: 
					span.label.label-inverse(ng-class='{error:"label-warning", ok:"label-success"}[status]') {{status}}
p.alert(ng-show='error'){{error}}

div.container-fluid.well
	form#search_form(role='search')
		div.form-group.row
			input#query.form-control.col-xs-6(type='search',ng-model='query',placeholder='Search...',style='width: 90%')
			button#search_btn.btn-success.btn.btn-default(type='submit',ng-click='search()')
				i.fa.fa-search
		div.form-group.row.col-xs-3(ng-show='allModules')
			ui-select(ng-model='selections.modules', theme='bootstrap')
				ui-select-match(placeholder='Select a module') {{$select.selected.key}}
				ui-select-choices(repeat='module in allModules | filter: $select.search ')
					div(ng-bind-html='module.key | highlight: $select.search')
		div.form-group.row.col-xs-3(ng-show='allAuthors')
			ui-select(ng-model='selections.authors', theme='bootstrap')
				ui-select-match(placeholder='Select an author') {{$select.selected.key}}
				ui-select-choices(repeat='author in allAuthors | filter: $select.search ')
					div(ng-bind-html='author.key | highlight: $select.search')
		div.form-group.row.col-xs-3(ng-show='allTags')
			ui-select(ng-model='selections.tags', theme='bootstrap')
				ui-select-match(placeholder='Select a tag') {{$select.selected.key}}
				ui-select-choices(repeat='tag in allTags | filter: $select.search ')
					div(ng-bind-html='tag.key | highlight: $select.search')

div(ng-show='result.hits') Total results: {{result.total}}, max score {{result.max_score}}

div.container-fluid(ng-show='result.hits')
	div.row
		div.col-md-8.well
			table.table.table-striped.table-fixed(st-table='result.hits')
				thead
					tr
						th.col-md-1(st-sort='_source.revision') Revision
						th.col-md-1(st-sort='_source.author') Author
						th.col-md-2(st-sort='_source.date') Date
						th.col-md-7(st-sort='_source.message') Message
						th.col-md-1 Action
				tbody
					tr(ng-repeat='hit in result.hits')
						td {{hit._source.revision}}
						td {{hit._source.author}}
						td {{hit._source.date}}
						td {{hit._source.message}}
						td
							a.btn.btn-xs.btn-primary(ng-click='showDiff(hit._source.revision)') diff
							button.btn.btn-xs.btn-info(data-html=true,bs-popover='popoverFiles(hit._source.files)',title='{{hit._source.files.length}} files') {{hit._source.files.length}} files
		div.col-md-1
		div.col-md-3.well
			table.table.table-striped(st-table='authors',ng-show='authors.length>0')
				thead
					tr
						th(st-sort='author.key') Authors
						th(st-sort='author.doc_count') Count
				tbody
					tr(ng-repeat='author in authors')
						td {{author.key}}
						td {{author.doc_count}}
			table.table.table-striped(st-table='modules',ng-show='modules.length>0')
				thead
					tr
						th(st-sort='module.key') Modules
						th(st-sort='module.doc_count') Count
				tbody
					tr(ng-repeat='module in modules')
						td {{module.key}}
						td {{module.doc_count}}
			table.table.table-striped(st-table='tags',ng-show='tags.length>0')
				thead
					tr
						th(st-sort='tag.key') Tags
						th(st-sort='tag.doc_count') Count
				tbody
					tr(ng-repeat='tag in tags')
						td {{tag.key}}
						td {{tag.doc_count}}

