nav.navbar.navbar-default.navbar-inverse
	.container-fluid
		.navbar-header
			a.navbar-brand.disabled(href='#/sivan')
				img(alt='SiVaN', src='/img/sivan.png')
		.collapse.navbar-collapse.navbar-left
		ul.nav.navbar-nav.navbar-right(ng-controller='SvnStatusCtrl')
			li 
				label.label.label-inverse Repository revision: {{revision}} 
				label.label.label-inverse Server revision: {{serverRevision}}
				button.navbar-btn.btn.btn-xs.btn-primary(ng-show='serverRevision != revision', ng-click='update()', ng-disabled='updating') update
				label.label.label-inverse Server: 
					span.label.label-inverse(ng-class='{error:"label-warning", ok:"label-success"}[status]') {{status}}
div.alert.alert-danger(ng-show='error')
	i.fa.fa-exclamation-triangle  Error executing query
	json-formatter(json='error')

div.container-fluid.well.well-sm
	form.form-horizontal#search_form(role='search')
		div.form-group.row.col-xs-12
			input#query.form-control.col-xs-6(type='search',ng-model='query',placeholder='Search...',style='width: 90%')
			button#search_btn.btn-default.btn.btn-default.active(type='submit',ng-click='search()')
				i.fa.fa-search
		div.row
			div.col-xs-3(ng-show='allModules')
				ui-select(ng-model='selections.modules', theme='selectize',on-select='applyModules($item, $model)')
					ui-select-match(placeholder='Select a module') {{$select.selected.key}}
					ui-select-choices(repeat='module in allModules | filter: $select.search ')
						div(ng-bind-html='module.key | highlight: $select.search')
			div.col-xs-3(ng-show='allAuthors')
				ui-select(ng-model='selections.authors', theme='selectize',on-select='applyAuthors($item, $model)')
					ui-select-match(placeholder='Select an author') {{$select.selected.key}}
					ui-select-choices(repeat='author in allAuthors | filter: $select.search ')
						div(ng-bind-html='author.key | highlight: $select.search')
			div.col-xs-3(ng-show='allTags')
				ui-select(ng-model='selections.tags', theme='selectize',on-select='applyTags($item, $model)')
					ui-select-match(placeholder='Select a tag') {{$select.selected.key}}
					ui-select-choices(repeat='tag in allTags | filter: $select.search ')
						div(ng-bind-html='tag.key | highlight: $select.search')
			div.col-xs-3
				div.form-group.checkbox
					label(for="ciuser_checkbox")
						input.checkbox(name='ciuser_checkbox',type='checkbox',ng-model="selections.filterAuthors", ng-change='search()')
						span(style='margin-top:0px') Filter ciuser
		div.row
			div.col-xs-3
				div.input-group.col-xs-12.pull-left
					input.form-control(type='text', ng-model='selections.startDate', bs-datepicker='', placeholder='start date',data-max-date='today',data-date-format='yyyy-MM-dd', data-model-date-format='yyyyMMdd',data-date-type='string')
					span.input-group-addon
						i.fa.fa-calendar
				//- div.input-group.col-xs-4.pull-right
				//- 	input.form-control.input-xs(type='text', ng-model='selections.startTime', bs-timepicker='', placeholder='start time',data-time-format='HH:mm:ss', data-model-time-format='HHmmss',data-time-type='string')
				//- 	span.input-group-addon
				//- 		i.fa.fa-clock-o
			div.col-xs-3
				div.input-group.col-xs-12.pull-left
					input.form-control(type='text', ng-model='selections.endDate', bs-datepicker='', placeholder='end date',data-min-date='{{selections.startDate}}',data-max-date='today',data-date-format='yyyy-MM-dd', data-model-date-format='yyyyMMdd',data-date-type='string')
					span.input-group-addon
						i.fa.fa-calendar
				//- div.input-group.col-xs-4.pull-right
				//- 	input.form-control.input-xs(type='text', ng-model='selections.endTime', bs-timepicker='', placeholder='end time',data-time-format='HH:mm:ss', data-model-time-format='HHmmss',data-time-type='string')
				//- 	span.input-group-addon
				//- 		i.fa.fa-clock-o		
			div.col-xs-6
				div.input-group.col-xs-6.pull-left
					input.form-control(type='text', ng-model='selections.startRevision', placeholder='start revision')
					span.input-group-addon
						i.fa.fa-hand-o-right
				div.input-group.col-xs-6.pull-right
					input.form-control.input-xs(type='text', ng-model='selections.endRevision',  placeholder='end revision')
					span.input-group-addon
						i.fa.fa-hand-o-left
		div.row &nbsp;
		div.row
			div.col-xs-12.text-center
				button.btn.btn.btn-default.active(ng-click='search()') 
					i.fa.fa-filter &nbsp;Filter  
				button.btn.btn.btn-danger(ng-click='resetSearch()') 
					i.fa.fa-close Reset  

div.container-fluid(ng-show='result.hits')
	.col-sm-12
		highchart(id='chart',config='highchartsNgConfig')

div.container-fluid(ng-show='result.hits')
	.col-sm-5
		button.btn.btn-sm.btn-primary(ng-click='toggleStats()') 
			i.fa.fa-line-chart Show/Hide Statistics  
	.col-sm-7
		pagination.pull-right(boundary-links="true",total-items='pagination.totalItems',max-size='{{pagination.maxPages}}',items-per-page='{{pagination.pageSize}}',ng-model='pagination.pageNumber',ng-change='search()')

div.container-fluid(ng-show='result.hits')
	table.table.table-striped.table-fixed
		thead
			tr
				th.sortable(ng-click='sort("revision")')
					i.fa(ng-class='getSortClass("revision")') &nbsp;Revision
				th.sortable(ng-click='sort("author")')
					i.fa(ng-class='getSortClass("author")') &nbsp;Author
				th.sortable(ng-click='sort("date")')
					i.fa(ng-class='getSortClass("date")') &nbsp;Date
				th.sortable(ng-click='sort("modules")')
					i.fa(ng-class='getSortClass("modules")') &nbsp;Modules
				th.sortable(ng-click='sort("tags")')
					i.fa(ng-class='getSortClass("tags")') &nbsp;Tags
				th.sortable(ng-click='sort("message")')
					i.fa(ng-class='getSortClass("message")') &nbsp;Message
				th Action
		tbody
			tr(ng-repeat='hit in result.hits')
				td {{hit._source.revision}}
				td {{hit._source.author}}
				td {{hit._source.date | date:'yyyy-MM-dd HH:mm:ss'}}
				td {{hit._source.modules.join(', ')}}
				td {{hit._source.tags.join(', ')}}
				td {{hit._source.message}}
				td(nowrap)
					button.btn.btn-xs.btn-primary(ng-click='showDiff(hit._source)',ng-disabled='loadingDiff',data-title='show diff',bs-tooltip='')
							i.fa.fa-exchange
					button.btn.btn-xs.btn-default.active(ng-click='showFiles(hit._source)',data-title='show files',bs-tooltip='')
							i.fa.fa-file-text
					button.btn.btn-xs.btn-warning(ng-click='showDeepTree(hit._source.revision, hit._source.modules)',ng-show='hasModuleTree(hit._source.modules)',data-title='show dependencies',bs-tooltip='')
							i.fa.fa-tree

div.container-fluid(ng-show='result.hits')
	.col-xs-12
		pagination.pull-right(boundary-links="true",total-items='pagination.totalItems',max-size='{{pagination.maxPages}}',items-per-page='{{pagination.pageSize}}',ng-model='pagination.pageNumber',ng-change='search()')

