include navbar.jade
include error.jade
include search.section.jade

.container-fluid(ng-show='result.total == 0')
	.col-sm-12 No results found

.container-fluid(ng-show='result.total > 0')
	.col-sm-12
		highchart(id='chart',config='highchartsNgConfig')

.container-fluid(ng-show='result.total > 0')
	.col-sm-2
		button.btn.btn-sm.btn-primary(ng-click='toggleStats()') 
			i.fa.fa-line-chart &nbsp; Show Search Statistics &nbsp; 
				i.fa.fa-chevron-right
	.col-sm-10
		pagination.pull-right(boundary-links="true",total-items='pagination.totalItems',max-size='{{pagination.maxPages}}',items-per-page='{{pagination.pageSize}}',ng-model='pagination.pageNumber',ng-change='search()')

.container-fluid(ng-show='result.total > 0')
	table.table.table-fixed.table-condensed.table-striped
		thead
			tr
				th.col-xs-1 &nbsp;
				th.col-xs-1.sortable(ng-click='sort("revision")')
					i.fa(ng-class='getSortClass("revision")') &nbsp;Revision
				th.col-xs-1.sortable(ng-click='sort("author")')
					i.fa(ng-class='getSortClass("author")') &nbsp;Author
				th.col-xs-2.sortable(ng-click='sort("date")')
					i.fa(ng-class='getSortClass("date")') &nbsp;Date
				th.col-xs-2.sortable(ng-click='sort("modules")')
					i.fa(ng-class='getSortClass("modules")') &nbsp;Modules
				th.col-xs-1.sortable(ng-click='sort("tags")')
					i.fa(ng-class='getSortClass("tags")') &nbsp;Tags
				th.col-xs-1.sortable(ng-click='sort("fileTypes")')
					i.fa(ng-class='getSortClass("fileTypes")') &nbsp;Types
				th.col-xs-3.sortable(ng-click='sort("message")')
					i.fa(ng-class='getSortClass("message")') &nbsp;Message
		tbody(ng-repeat='hit in result.hits')
			tr
				td
					button.btn.btn-xs.btn-default(ng-disabled='loading',ng-click='toggleFiles(hit.fields)',data-title='show {{hit.fields["files.path"].length}} files',bs-tooltip='')
							i.fa.fa-file-text &nbsp; {{hit.fields["files.path"].length}}
				td {{hit.fields.revision.join(', ')}}
				td {{hit.fields.author.join(', ')}}
				td {{hit.fields.date.join(', ') | date:'yyyy-MM-dd HH:mm:ss'}}
				td 
					//button.btn.btn-xs.btn-warning(ng-disabled='loading',ng-click='showDeepTree(hit.fields.revision, hit.fields.modules)',ng-show='hasModuleTree(hit.fields.modules)',title='show dependencies (experimental)')
						i.fa.fa-tree
					span &nbsp; {{hit.fields.modules.join(', ')}}
				td(ng-bind-html="hit.fields.tags.join(', ')  | html")
				td {{hit.fields.fileTypes.join(', ')}}
				td {{hit.fields.message.join(', ')}}
			tr(ng-show='showFiles(hit.fields)')
				td(colspan='8')
					div(ng-repeat='file in hit.fields["files.path"] track by $index') 
						span.tab-space
						small
							button.btn.btn-xs.btn-primary(ng-show='file',ng-disabled='loading',ng-click='toggleSource(hit.fields, file)', title='source')
								i.fa.fa-code
							button.btn.btn-xs.btn-success(ng-show='file',ng-disabled='loading',ng-click='toggleDiff(hit.fields, file)', title='diff')
								i.fa.fa-list-ol
						span.tab-space
						span.label(ng-class='{"M": "label-warning", "D":"label-danger", "A":"label-primary"}[hit.fields["files.status"][$index]]'){{hit.fields["files.status"][$index]}}
						span.tab-space
						strong 
							small{{file}}
							button.btn.btn-xs.btn-default(ng-click='searchByFile(file);',title='Search for this file')
								i.fa.fa-search
						div(ng-show='showSource(hit.fields, file)')
							div(hljs,source='fileSources[file]')
						diff2html(revision='hit.fields.revision', file='file',ng-show='showDiff(hit.fields, file)',load-diff='{{showDiff(hit.fields, file)}}')
.container-fluid(ng-show='result.total > 0')
	.col-xs-12
		pagination.pull-right(boundary-links="true",total-items='pagination.totalItems',max-size='{{pagination.maxPages}}',items-per-page='{{pagination.pageSize}}',ng-model='pagination.pageNumber',ng-change='search()')

