.aside(tabindex='-1', role='dialog')
	.aside-dialog
		.aside-content
			.aside-header
				button.close(type='button', ng-click='toggleStats()') &times;       
				h4.aside-title Search Statistics
				small.small Total {{result.total}}
			.aside-body
				.panel.panel-default
					.panel-heading Top Tags
					.panel-body
						table.table.table-striped(st-table='tags',ng-show='tags.length>0')
							thead
								tr
									th(st-sort='key') Tags
									th(st-sort='doc_count') Count
							tbody
								tr(ng-repeat='tag in tags')
									td {{tag.key}}
									td {{tag.doc_count}}
				.panel.panel-default
					.panel-heading Top Modules
					.panel-body
						table.table.table-striped(st-table='modules',ng-show='modules.length>0')
							thead
								tr
									th(st-sort='key') Modules
									th(st-sort='doc_count') Count
							tbody
								tr(ng-repeat='module in modules')
									td {{module.key}}
									td {{module.doc_count}}
				.panel.panel-default
					.panel-heading Top Authors
					.panel-body
						table.table.table-striped(st-table='authors',ng-show='authors.length>0')
							thead
								tr
									th(st-sort='key') Authors
									th(st-sort='doc_count') Count
							tbody
								tr(ng-repeat='author in authors')
									td {{author.key}}
									td {{author.doc_count}}