.aside(tabindex='-1', role='dialog')
	.aside-dialog
		.aside-content
			.aside-header
				button.close(type='button', ng-click='toggleStats()') &times;       
				h4.aside-title Search Statistics
				small.small Total {{result.total}}
			.aside-body
				//- .panel.panel-default
				//- 	.panel-heading Significant Terms
				//- 	.panel-body
				//- 		jqcloud#jqcloud(words='siginificantTerms',steps='100',auto-resize='true')
				table.table.table-condensed.table-striped(ng-show='tags.length>0')
					thead
						tr
							th Tags
							th Count
					tbody
						tr(ng-repeat='tag in tags')
							td {{tag.key}}
							td {{tag.doc_count}}
				table.table.table-condensed.table-striped(ng-show='modules.length>0')
					thead
						tr
							th Modules
							th Count
					tbody
						tr(ng-repeat='module in modules')
							td {{module.key}}
							td {{module.doc_count}}
				table.table.table-condensed.table-striped(ng-show='fileTypes.length>0')
					thead
						tr
							th Type
							th Count
					tbody
						tr(ng-repeat='type in fileTypes')
							td {{type.key}}
							td {{type.doc_count}}
				table.table.table-condensed.table-striped(ng-show='authors.length>0')
					thead
						tr
							th Authors
							th Count
					tbody
						tr(ng-repeat='author in authors')
							td {{author.key}}
							td {{author.doc_count}}