.table-fixed
	word-wrap break-word;
	table-layout fixed;
.popover
	max-width 100%
	width 600px
.modal-content
	width 90%
	min-width 1024px
	margin-left -250px
	max-height 820px
	overflow-y auto
.pagination
	margin 0 0
.sortable
	cursor pointer
span.tab-space
	padding-left 2em




